#container {
    background-color: rgba(26, 27, 38, 0.4);
    border-radius: 10px;
}

QLabel {
    color: #e8e8e8;
}

#title {
    font-size: 14px;
    font-weight: bold;
}

#artist {
    font-size: 13px;
    color: #d0d0d0;
}

QProgressBar {
    height: 4px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

QProgressBar::chunk {
    background-color: #fff;
    border-radius: 2px;
    border: none;
}
